<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinero</title>
    <link rel="stylesheet" href="/public/index.css">
    <script src="https://kit.fontawesome.com/0b68ed503d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/public/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>

<body>
    <header>
        <div class="p1">Dinero</div>
        <button>Get Started</button>
    </header>
    <div class="home" data-aos="fade-down-right">
        <div class="p1">Automate Your<br> Success with Dinero</div>
        <div class="p2">Embrace the future of trading with our Expert Advisor (EA). Use a Razor Sharp Algorithm to take
            your trading potential to a new level. Both Prop and self-funded account friendly</div>
        <button>Get Started</button>
    </div>


    <div class="img-cvr">
        <div class="img-cvr2">
            <img src="/Pictures/IMG_9497.JPEG.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="second">
        <div class="one">
            <div class="p1">105</div>
            <div class="p2">Days Trading</div>
        </div>
        <div class="one">
            <div class="p1">$1000</div>
            <div class="p2">Start Live Balance</div>
        </div>
        <div class="one">
            <div class="p1">$15300</div>
            <div class="p2">Current Balance</div>
        </div>
    </div>


    <div class="about" data-aos="fade-right">
        <div class="p1">Earn Smarter</div>
        <div class="p2">A better Bot</div>
        <div class="p3">
            <div class="first1">Dinero is a Day Trading instrument with low spread costs and hiigh volatility
                creating
                a suitable environment for aspiring and experienced traderd alike. it is a 100% FULLY AUTOMATED trading
                system.
            </div>
            <div class="second2">
                Dinero mainly applies intraday trading strategy, it opens and closes trades within the same day,
                exploiting
                the daily volatility of gold prices. It does not use martingale-style trading and trades only once a day
                accumulating 10-20% profit on your account average monthly using a minimal risk.
            </div>
        </div>
    </div>

    <!--
            <div class="cvr">
        <div class="p">
            <div class="top">105</div>
            <div class="btm">105 Days Trading</div>
        </div>
        <div class="p">
            <div class="top">$1000</div>
            <div class="btm"> Start balance</div>
        </div>
        <div class="p">
            <div class="top">$15000</div>
            <div class="btm">current balance</div>
        </div>
    </div>

    -->


    <div class="third" data-aos="fade-right">
        <div class="p1">Why people choose <div class="mrmoney">Mrmoney</div>
        </div>
        <p class="p2">Experience unparalleled trading precision with our advanced algorithmic trading bot, tailored to
            optimize your investment strategies and maximize returns.</p>


        <div class="divisions">
            <div class="sub2">
                <div class="texts">
                    <img src="Pictures/why1.svg">
                    <p class="p1">INGENIOUS SYSTEM</p>
                    <p class="p2">Highly effective and powerful trading algorithm. Easy 5 minute setup & install for
                        users.Perfect Trading Solution for traders of all levels.</p>

                </div>
            </div>
            <div class="sub2">
                <div class="texts">
                    <img src="Pictures/why2.svg">
                    <p class="p1">UNRIVALLED PERFORMANCE</p>
                    <div class="p2">Verified, consistent and stable. Dinero is the leading
                        robot for
                        exceptional trading performance.Works in all brokers supporting either MT4 /MT5 platforms.
                    </div>

                </div>
            </div>
            <div class="sub2">
                <div class="texts">
                    <img src="Pictures/why3.svg">
                    <p class="p1">PROP Account FRIENDLY</p>
                    <div class="p2">Whether you use Dinero in self trading or prop accounts,
                        it
                        works perfectly well. We can support and guide you on specialist prop settings.</div>

                </div>
            </div>
        </div>

    </div>

    <div class="second-cvr" style="margin: 100px 0">
        <div class="second2">
            <div class="top">
                <p class="p1">Great price plan for you!</p>
                <div class="p2">
                    Start Your Journey with Deneroea
                    today
                </div>
            </div>


            <div class="plans">
                <div class="first1" data-aos="flip-up">
                    <p class="p1">Standard Account</p>
                    <div style="display: flex; align-items: center;">
                        <div class="p3" style="color: rgb(255, 0, 0); font-size: 20px; margin-right: 10px;">
                            <strike>$998</strike>
                        </div>
                        <div class="p2">$799.00</div>
                    </div>
                    <p class="p3" style="text-align: left">
                        Our robot is fully flexible and can be ran on low risk, high risk
                        & prop trading accounts
                    </p>

                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">
                            One live Account
                        </p>
                    </div>
                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">Full EA features</p>
                    </div>
                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">
                            MT4/MT5 Version Only
                        </p>
                    </div>
                    <a href="#contactForm"><button style="margin-top: 20px; width: 100%;">Buy Now</button></a>
                </div>
                <div class="first" data-aos="flip-up">
                    <p class="p1">Full Account Licence MT4</p>
                    <div style="display: flex; align-items: center;">
                        <div class="p3" style="color: rgb(255, 0, 0); font-size: 20px; margin-right: 10px;">
                            <strike>$3331</strike>
                        </div>
                        <div class="p2">$1999.00</div>
                    </div>
                    <p class="p3" style="text-align: left">
                        Our robot is fully flexible and can be ran on low risk, high risk
                        & prop trading accounts
                    </p>

                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">
                            Unlimited live Account
                        </p>
                    </div>
                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">Full EA features</p>
                    </div>
                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">
                            MT4/MT5 Version Only
                        </p>
                    </div>
                    <div style="display: flex; align-items: center">
                        <i class="fa-solid fa-check" style="color: #6366f1;"></i>
                        <p style="font-size: 13px; margin-left: 10px">Lifetime Updates</p>
                    </div>
                    <a href="#contactForm"><button style="margin-top: 20px;  width: 100%;">Buy Now</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="freetrial">
        <div class="p1">
            Boost your earnings Start<br> using Dinero today
        </div>
        <div class="p2">
        </div>
        <div class="buttons">
            <a href="#contactForm"><button>Buy now</button></a>
        </div>
    </div>

    <p class="disclamer">
        This website is not a part of the Facebook website, Facebook Inc. It is also not part of the Google Website or
        Alphabet Inc. Additionally, this site is not endorsed by Facebook or Google in any way. FACEBOOK and GOOGLE is a
        trademark of META Inc and ALPHABET INC respectively.<br><br>
    
        The information on the dinero.com website or any software or guide purchased from this website is intended for
        educational purposes and it is not intended to provide investment advice. Any statements about profits or income,
        expressed or implied, do not represent a guarantee as past performance in the markets is not a reliable indicator of
        future performance.
        <br><br>
        You accept full responsibility for your actions, trades, profit, or loss, and agree that the owner of dinero.com
        and any authorized distributors of this information takes no responsibility for loss incurred as a result of
        contents provided. By purchasing any of our software, you acknowledge that we are not providing financial advice and
        we have no knowledge of the level of money you are trading with or the level of risk you are taking with.
        All rights reserved. The use of this website and or its contents constitutes acceptance of our disclaimer
      </p>
    
      <footer>
        <div class="socials">
          <a href="https://wa.link/5qsytr"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://t.me/dineroEa"><i class="fa-brands fa-telegram"></i></a>
        </div>
        <p>@2024 dinero, Inc. All right reserved.</p>
      </footer>




</body>
<script>
    AOS.init();
</script>
<script>
    /*
    document.addEventListener("DOMContentLoaded", (event) => {
        gsap.registerPlugin(ScrollTrigger);
        gsap.utils.toArray(".p").forEach((panel, i) => {
            const tl = gsap.timeline({
                scrollTrigger: {
                    trigger: panel,
                    start: "top center",
                    end: "+=500px",
                    scrub: 1,
                    pin: true,
                    toggleActions: "restart pause reverse pause"
                }
            });

            // Fade in animation
            tl.to(panel, { opacity: 1, duration: 0.5, ease: "power1.inOut" });

            // Fade out animation
            tl.to(panel, { opacity: 0, duration: 0.5, ease: "power1.inOut" }, "+=0.5");

        });

        gsap.to("body", {
            scrollTrigger: {
                start: "top top",
                end: "bottom bottom",
                scrub: 1
            },
            // First background change
            backgroundImage: "linear-gradient(to right, black, #1414ac)",
            duration: 0.5,
            ease: "power1.in",
            // Second background change
            onComplete: () => {
                gsap.to("body", {
                    backgroundImage: "linear-gradient(to right, green, blue)",
                    duration: 0.5,
                    ease: "power1.in"
                });
            }
        });



        



    }); */
</script>

</html>